<div class="main-page">
  <%= image_tag "bg-main.jpg", class: "img-responsive page-img" %>

  <div>
    <marquee><h2>The site is under construction. We are comming soon.</h2></marquee>
  </div>
</div>