<div class="container">
  <div class="nested-fields">
    <h5><%= link_to_remove_association "Delete Image", f, class: "btn btn-danger" %></h5>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
</div>